ConsoleApp/bin
ConsoleApp/obj
Dictionary/bin
Dictionary/obj
Encode/bin
Encode/obj
EncodeTest/bin
EncodeTest/obj
EncodeTest/TestResults
Helpers/bin
Helpers/obj
HelperTest/bin
HelperTest/obj
HelperTest/TestResults